@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins ital', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
#clock {
    position: relative;
    display: block;
    color: #ffff;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 50px;
    border: 7px solid aqua;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    
}

